*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: hsl(0, 0%, 95%);
}
.main_div{
/*	height: 1440px;
	width: 100%;*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(0, 0%, 95%);
}
/*.sub_div{
	height: 900px;
	width: 90%;
	background-color: black;
	background-color: hsl(0, 0%, 95%);
	box-shadow: 2px 17px 20px 17px #C7C0C0;
	display: flex;
	align-items: center;
	justify-content: center;
}*/
.sub_class{
	height: 500px;
	width: 300px;
	background-color: blue;
}
.sub_class1{
	background-color: hsl(31, 77%, 52%);
}
.sub_class2{
	background-color: hsl(184, 100%, 22%);
}
.sub_class3{
	background-color: hsl(179, 100%, 13%);
}
svg{
	margin: 50px;
}
h1{
	font-family: Big Shoulders Display;
	color: hsl(0, 0%, 95%);
	font-weight: 700px;
	font-size: 35px;
	margin-left: 50px;
	margin-top: -110px;
	line-height: 15px;
}
p{
	font-family: Lexend Deca;
	font-weight: 400px;
	font-size: 13px;
	line-height: 23px;
	color: hsla(0, 0%, 100%, 0.75);
	margin-left: 50px;
	margin-top: 45px;
	padding-right: 40px;
	padding-left: 0px;
}
.sub_class div a{
	text-decoration: none;
	background-color: hsla(0, 0%, 100%, 0.75);
	padding: 15px;
	padding-right: 28px;
	padding-left: 28px;
	color: hsl(31, 77%, 52%);
	border: 1px solid white;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-left: 50px;
	margin-top: 100px;
}
.sub_class1 a:hover{
	cursor: pointer;
	background-color: hsl(31, 77%, 52%);
	color: hsla(0, 0%, 100%, 0.75);
}
.sub_class2 div a{
	color: hsl(184, 100%, 22%);
}
.sub_class2 a:hover{
	cursor: pointer;
	background-color: hsl(184, 100%, 22%);
	color: hsla(0, 0%, 100%, 0.75);
}
.sub_class3 div a{
	color: hsl(179, 100%, 13%);
}
.sub_class3 a:hover{
	cursor: pointer;
	background-color: hsl(179, 100%, 13%);
	color: hsla(0, 0%, 100%, 0.75);
}

.learn{
	padding-top: 120px;
}
#learn1{
	padding-top: 98px;
}
#learn2{
	padding-top: 98px;
}



@media only screen and (min-width: 750px){
	.sub_div{
	height: 900px;
	width: 90%;
	background-color: black;
	background-color: hsl(0, 0%, 95%);
	box-shadow: 2px 17px 20px 17px #C7C0C0;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	.main_div{
	height: 1440px;
	width: 100%;
	}
}
@media only screen and (max-width: 800px){
	.sub_class1{
		margin-top: 20px;
	}
	.main_div{
	height: 1600px;
	width: 100%;
	}
}